<!-- <head> <meta charset="utf-8" /></head> -->
	<body>
		<div class="text-center">
			<!-- 头部 -->
			<div class="row">
				<div class="col-xs-3 j-title">111</div>
					<div class="col-xs-6 j-title">
						<div style="position:absolute;bottom:0;left:40%">
							<input class="input-medium search-query" type="text" id="query"/> 
							<button type="submit" class="btn" id="btn-query">查找</button>
						</div>
					</div>
				<div class="col-xs-3 j-title">111</div>
			</div>
			
			<!-- 中间-->
			<div class="row">
				<!-- 左-->
				<div class="col-xs-3 j-content">
					 <ul id="moviesList">
                     </ul>
				</div>
				
				<div class="col-xs-7 j-content">
					<div id="allmap" class="j-map"></div>
				</div>
				
				<div class="col-xs-2 j-content">
					<ul>
						<li class="j-content-right-li">
                        	<table>
								<tr style="cursor: pointer;">
									<td class="j-content-right-name">
										<span style="font-size: 14px;">速度与激情8</span>
									</td>
									<td class="j-content-right-stusta" colspan="4">
										<span class="j-content-left-span">9.0</span>
									</td>
								</tr>
								<tr class="j-content-row-right">
									<td style="width: 20%;text-align:left">
										<span class="j-content-row-address">导演：xxx</span>
									</td>
									<td style="width: 10%">主演：</td>
									<td style="width: 10%">xxx</td>
								</tr>
							</table>
                        </li>
					</ul>
					
				</div>
			</div>
		</div>
	</body>
	
<script th:src="@{/js/index.js}"></script>

<script id="moviesTempl" type="text/x-jquery-tmpl">
{{each(i,item) movies}}	
	<li class="movies-left-name" longitude="{{= item.longitude}}" latitude="{{= item.latitude}}">
      <table style="width: 100%">
		<tr style="cursor: pointer;">
			<td class="j-content-left-name">
				<span style="font-size: 14px;">{{= item.name}}</span>
			</td>
			<td class="j-content-left-stusta" colspan="4">
				<span class="j-content-left-span">拥挤</span>
			</td>
		</tr>
		<tr class="j-content-row">
			<td style="width: 30%;text-align:left">
				<span class="j-content-row-address">{{= item.address}}</span>
			</td>
			<td style="width: 10%">9</td>
			<td style="width: 10%">81.27</td>
		</tr>
	</table>
  </li>
{{/each}}
</script>