<head>
	<meta charset="utf-8" />
	<title>你微笑时好美</title>
	<script type="text/javascript" th:src="@{/js/plug-in/jquery/jquery-2.2.3.min.js}" ></script>
	<script type="text/javascript" th:src="@{/js/plug-in/bootstrap/js/bootstrap-paginator.js}" ></script>
	<script type="text/javascript" th:src="@{/js/plug-in/bootstrap/js/bootstrap.min.js}" ></script>
	<script type="text/javascript" th:src="@{/js/plug-in/seat-charts/jquery.seat-charts.min.js}"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&amp;ak=Rrk54hARjg0k3sEhMemMGPB4DpG8Dcp2"></script>
	<link rel="stylesheet" th:href="@{/js/plug-in/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/index.css}" />
	
	<link rel="stylesheet" th:href="@{/js/plug-in/seat-charts/css/jq22.css}" />
	<link rel="stylesheet" th:href="@{/js/plug-in/seat-charts/css/seat-charts.css}" />
	<!-- <style>
		div{
			border: 1px solid #1b6d85;
		}
	</style> -->
</head>