<head>
	<meta charset="utf-8" />
	<title>你微笑时好美</title>
	<script type="text/javascript" th:src="@{/js/jquery/jquery-2.2.3.min.js}" ></script>
	<script type="text/javascript" th:src="@{/js/bootstrap/js/bootstrap-paginator.js}" ></script>
	<script type="text/javascript" th:src="@{/js/bootstrap/js/bootstrap.min.js}" ></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&amp;ak=Rrk54hARjg0k3sEhMemMGPB4DpG8Dcp2"></script>
	<script type="text/javascript" th:src="@{/js/index.js}" ></script>
	<link rel="stylesheet" th:href="@{/js/bootstrap/css/bootstrap.min.css}" />
	
	<link rel="stylesheet" th:href="@{/css/index.css}" />
	<style>
		div{
			border: 1px solid #1b6d85;
		}
	</style>
</head>